{% extends 'layout.njk' %}

{% block styles %}
    <link rel="stylesheet" href="/styles/list.css">
    <link rel="stylesheet" href="/styles/presentation.css">
    <link rel="stylesheet" href="./styles/styles.css">
{% endblock %}


{% block content %}

    <div class="info">

    </div>


    <div class="content">
        <header>
            <a href="/teachers">Cadastro</a>
            <a href="/home">Login</a>
        </header>

        <div class="welcome">
            <h2>Consulte os Professores</h2>
        </div>

        <div class="table-container">
            <a href="/teachers">Professores</a>
            <a href="/teachers/create">Novo</a>
            <a href="/students">Alunos</a>
            <table>
                <thead> {# Cabeçalho #}
                    <tr> {# Linha do Cabeçalho #}
                        <th>Professores</th>
                        <th>Acompanhamento</th>
                        <th>Ação</th>
                    </tr>
                </thead>
                <tbody>
                    {% for teacher in teachers %}
                        <tr>
                            <td>
                                <span style="background-image: url({{teacher.avatar_url}})"></span>
                                {{ teacher.name }}
                            </td>
                            <td>
                                {% for plus in teacher.plus %}
                                    <span class="list-plus">{{ plus }}</span>
                                {% endfor %}
                            </td>
                            <td><a href="/teachers/{{teacher.id}}">ver</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>


    </div>


    <div class="info">

    </div>


{% endblock %}