{% extends 'layout.njk' %}

{% block styles %}
    <link rel="stylesheet" href="/styles/list.css">
    <link rel="stylesheet" href="/styles/presentation.css">
{% endblock %}


{% block content %}

    <div class="info">

    </div>


    <div class="content table-container">
        <header>
            <a href="/register">Cadastro</a>
            <a href="/">Login</a>
        </header>

        <div class="welcome">
            <h2>Consulte de Professores</h2>
        </div>

        <div class="table-container">
            <table>
                <thead> {# Cabeçalho #}
                    <tr> {# Linha do Cabeçalho #}
                        <th>Professores</th>
                        <th>Acompanhamento</th>
                        <th>Ação</th>
                    </tr>
                </thead>
                <tbody>
                    {% for teacher in teachers %}
                        <td>
                            <span style="background-image: url({{teacher.avatar_url}})"></span>
                            {{ teacher.name }}
                        </td>
                        <td>{{ teacher.plus }}</td>
                        <td><a href="/register/{{teacher.id}}">ver</a></td>
                    {% endfor %}
                </tbody>
            </table>
        </div>


    </div>


    <div class="info">

    </div>


{% endblock %}