/* SHOW */

body {
    grid-template-columns: 10% 80% 10%;
    overflow: hidden;
    background-color: #3C46A7;
}

.content {
    background-color: var(--primary-color);
    color: #fff;
}

.content header {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.content header a {
    margin-top: 20px;
    text-decoration: none;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 25px;
    padding: 10px 20px;
}

.content header a + a {
    margin-left: 20px;
    margin-right: 25px;
}

.content .welcome {
    text-align: center;
}

.content .welcome h2 {
    margin-top: 40px;
    line-height: 35px;
}
