<!DOCTYPE html>
<html lang="pt-BR">
    <head>

        {% block head %}
            <title>Cadastro de Professores</title>
        {% endblock %}

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <base href="/">
        <link rel="stylesheet" href="./styles/main.css">
        {% block styles %}{% endblock %}

    </head>
    <body>

        {% block content %}
        {% endblock %}


        <script src="/scripts/scripts.js"></script>
    </body>
</html>