<div class="item">
    <div>Avatar URL</div>
    <div>
        <input 
        type="url" 
        name="avatar_url"
        placeholder= "http://"
        value="{{ teacher.avatar_url }}"
        >
    </div>
</div>

<div class="item">
    <div>Professor</div>
    <div>
        <input 
            type="text" 
            name="name"
            placeholder= "Nome do Professor"
            value="{{ teacher.name }}"
        >
    </div>
</div>

<div class="item">
    <div>Data de nascimento</div>
    <div>
        <input 
            type="date" 
            name="birth_date" 
            value="{{ teacher.birth_date }}"
        >
    </div>
</div>

<div class="item">
    <div>Nível de Escolaridade</div>
    <div>
        <select name="education_level">
            <option value="Sem Escolaridade">
                {% if teacher.education_level == "A1" %}selected{% endif %}
                Sem Escolaridade
            </option>
            <option value="Ensino Fundamental">
                {% if teacher.education_level == "A1" %}selected{% endif %}
                Ensino Fundamental
            </option>
            <option value="Ensino Médio">
                {% if teacher.education_level == "A1" %}selected{% endif %}
                Ensino Médio
            </option>
            <option value="Ensino Superior">
                {% if teacher.education_level == "A1" %}selected{% endif %}
                Ensino Superior
            </option>
        </select>
    </div>
</div>

<div class="item">
    <div>Tipo de Formação</div>
    <div>
        <input 
            type="text" 
            name="class_type"
            placeholder= "Engenheiro"
            value="{{ teacher.class_type }}"
        >
    </div>
</div>

<div class="item">
    <div>Habilidades subjetivas</div>
    <div>
        <input 
            type="text"
            name="subjects_taught"
            placeholder="Separe sua outra habilidades por vírgula"
            value="{{ teacher.subjects_taught }}"
        >
    </div>
</div>

<button type="submit">Salvar</button>