{% extends 'layout.njk' %}

{% block content %}

<div class="card table-container">
    <a href="/teachers/create">Novo</a>
    <table width="100%">
        <thead> {# Cabeçalho #}
            <tr> {# Linha #}
                <th>Professor</th> {# Colunas #}
                <th>Nível de Formação</th> {# Colunas #}
                <th>Ação</th> {# Colunas #}
            </tr>
        </thead>
        <tbody> {# Corpo da Tabela #}
            {% for teacher in teachers %}
                <tr> {# Linha #}
                    <td>
                        <span style="background-image: url({{teacher.avatar_url}})"></span>
                        {{ teacher.name }}
                    </td> {# Colunas #}
                    <td>{{ teacher.education_level }}</td>
                    <td><a href="/teachers/{{teacher.id}}">ver</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock content %}