<!DOCTYPE html>
<html lang="pt-BR">
    <head>

        {% block head %}
            <title>Cadastro de Professores</title>
        {% endblock %}

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="styles.css">
    </head>
    <body>
        <header>
            <div class="links">
                <a href="" img src="" alt=""></a>
                <a href="/">Cadastro</a>
                <a href="/login">Login</a>
            </div>
        </header>

        {% block content %}
        {% endblock %}


    </body>
</html>