@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

:root {
    --primary-color: #4C56C0;
    --secundary-color: #F87E95;
    --tertiary-color: #FFFFFF;
}

* {
    margin: 0px;
    padding: 0px;
    border: none;
}

body {
    font-family: 'Roboto', sans-serif;
    display: grid;
    grid-template-columns: 60% 40%;
    overflow: hidden;
}