{% extends 'layout.njk' %}

{% block styles %}
    <link rel="stylesheet" href="./styles/edit.css">
    <link rel="stylesheet" href="./styles/presentation.css">
{% endblock %}


{% block content %}

    <div class="info">

    </div>


    <div class="content">
        <header>
            <a href="/register">Cadastro</a>
            <a href="/">Login</a>
        </header>

        <div class="welcome">
            <h2>Atualizar sua conta Digital</h2>
            <h3>Sinta-se a vontade em mudar seu dados</h3>
        </div>

        <form class="form" method="POST" action="/register?_method=PUT">

            <div class="register">

                <div class="data">

                    <div class="avatar_url">
                        <p>Avatar URL</p>
                        <input type="url" placeholder="  {{ teacher.avatar_url }}" name="avatar_url" required>
                    </div>

                    <div id="user">
                        <input type="text" placeholder="  {{ teacher.nickname }}" name="nickname" required>
                    </div>

                    <div id="user">
                        <input type="text" placeholder="  {{ teacher.name }}" name="name" required>
                    </div>


                    <div class="date">
                        <input 
                            type="text" 
                            placeholder="  {{ teacher.birth }}" 
                            onfocus="(this.type='date')" 
                            onblur="(this.type='text')" 
                            name="birth" 
                            required
                        />
                    </div>

                    <div class="level">
                        <select class="school" name="graduation" required>
                            <option value="" disabled selected>{{ teacher.graduation }}</option>
                            <option value="Ensino Médio Completo">Ensino Médio Completo</option>
                            <option value="Ensino Superior Completo">Ensino Superior Completo</option>
                            <option value="Mestrado">Mestrado</option>
                            <option value="Doutorado">Doutorado</option>
                        </select>
                    </div>

                    <div class="categories">
                        <p>Tipo de aula</p>

                        <div class="items">
                            <span>
                                <input type="radio" 
                                name="category" 
                                value="Presencial" 
                                { if teacher.category == 'Presencial'}
                                checked
                                { endif }
                                >Presencial
                            </span>
                            <span>
                                <input type="radio" 
                                    name="category" 
                                    value="À distância" 
                                    { if teacher.category == 'À distância'}
                                    checked
                                    { endif }
                                >À&nbsp;distância
                            </span>
                        </div>

                    </div>

                    <div class="plus">
                        <input type="text" placeholder="  {{ teacher.plus }}" name="plus" required>
                    </div>

                </div>

                <button class="button" type="submit">Salvar</button>

                <input 
                    type="hidden"
                    name="id"
                    value={{teacher.id}}
                >

            </div>

        </form>

        <div class="register">
            <form method="POST" action="/register?_method=DELETE">
                <input type="hidden" name="id" value={{teacher.id}}>
                <button class="button-delete" type="submit">Deletar</button>
            </form>
        </div>

    </div>


    <div class="info">

    </div>


{% endblock %}