<div class="data">

    <div class="avatar_url">
        <img src="{{ teacher.avatar_url }}" alt="{{ teacher.name }}">
    </div>

    <div id="user">
        <p>{{ teacher.name }}</p>
    </div>

    <div class="date">
        <p>{{ teacher.age }} anos</p>
    </div>

    <div class="level">
        <p>{{ teacher.graduation }}</p>
    </div>

    <div class="categories">
        <p>Tipo de aula: {{ teacher.category }}</p>
    </div>

    <div class="plus">
            <p>{% for plus in teacher.plus %}{{ plus }}{% endfor %}</p>
    </div>

</div>