{% extends "layout.njk" %}

{% block head %}
    {% for item in items %}
    <title>Curso {{ item.name_course }}</title>
    {% endfor %}
{% endblock %}
        
{% block content %}

<div class="container-courses">
    <div class="content-courses">
        <iframe src="https://rocketseat.com.br/{{ course.id }}" frameborder="0"></iframe>
    </div>
</div>


{% endblock %}