@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

:root {
    --primary-color: #2C3E50;
    --action-color: #FAD662;
    --secondary-color: #F7F8F8;
}

* {
    margin: 0px;
    padding: 0px;
    border: none;
}

body {
    background-color: var(--primary-color);
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: var(--secondary-color);
    padding: 32px;
    width: 100%;
    text-align: center;
    box-sizing: border-box;
}

.links {
    font-size: 22px;
}

.links a + a {
    margin-left: 32px;
}

.links a {
    text-decoration: none;
    color: var(--primary-color);
    position: relative;
}

.links a.active {
    font-weight: bold;
    color: #7159c1;
}

.links a:hover {
    color: var(--primary-color);
}

.links a::after {
    content: "";
    width: 0;
    height: 2px;
    background-color: var(--primary-color);
    position: absolute;
    left: 0px; 
    bottom: -4px;
}

.links a:hover::after {
    width: 100%;
    transition: width 700ms ease-in-out;
}