{% extends 'layout.njk' %}

{% block styles %}
    <link rel="stylesheet" href="./styles/register.css">
    <link rel="stylesheet" href="./styles/presentation.css">
    <link rel="stylesheet" href="./styles/styles.css">
{% endblock %}


{% block content %}

    <div class="info">

    </div>


    <div class="content">
        <header>
            <a href="/students">Cadastro</a>
            <a href="/home">Login</a>
        </header>

        <div class="welcome">
            <h2>Seja bem vindo a Digital</h2>
            <h3>Cadastre sua conta agora</h3>
        </div>

        <form class="form" method="POST" action="/students">

            <div class="register">

                <div class="data">

                    <div class="avatar_url">
                        <p>Avatar URL</p>
                        <input type="url" placeholder="  http://" name="avatar_url" required>
                    </div>

                    <div id="user">
                        <input type="text" placeholder="  Nome completo" name="name" required>
                    </div>


                    <div class="date">
                        <input type="text" placeholder="  Data de nascimento" onfocus="(this.type='date')" onblur="(this.type='text')" name="birth" required/>
                    </div>

                    <div id="email">
                        <input type="email" placeholder="  E-mail" name="email" required>
                    </div>

                    <div class="level">
                        <select class="school" name="graduation" required>
                            <option value="" disabled selected>&nbsp;Ano Escolar</option>
                            <option value="5EF">5° Ano do Ensino Fundamental</option>
                            <option value="6EF">6° Ano do Ensino Fundamental</option>
                            <option value="7EF">7° Ano do Ensino Fundamental</option>
                            <option value="8EF">8° Ano do Ensino Fundamental</option>
                            <option value="9EF">9° Ano do Ensino Fundamental</option>
                            <option value="1EM">1° Ano do Ensino Médio</option>
                            <option value="2EM">2° Ano do Ensino Médio</option>
                            <option value="3EM">3° Ano do Ensino Médio</option>
                        </select>
                    </div>

                    <div class="hours">
                        <input type="number" placeholder="  Quantidade de horas semanais" name="hours" required>
                    </div>

                    <div class="plus">
                        <input type="text" placeholder="  Áreas de atuação (separados por vírgula)" name="plus" required>
                    </div>

                </div>

                <button class="button" type="submit">Cadastrar-se</button>

                <div class="support">
                    <a href="#">Ajuda & Suporte</a>
                </div>

            </div>

        </form>

    </div>


    <div class="info">

    </div>


{% endblock %}