{% extends 'layout.njk' %}

{% block styles %}
    <link rel="stylesheet" href="./styles/edit.css">
    <link rel="stylesheet" href="./styles/presentation.css">
    <link rel="stylesheet" href="./styles/styles.css">
{% endblock %}


{% block content %}

    <div class="info">

    </div>


    <div class="content">
        <header>
            <a href="/students">Cadastro</a>
            <a href="/home">Login</a>
        </header>

        <div class="welcome">
            <h2>Atualizar sua conta Digital</h2>
            <h3>Sinta-se a vontade em mudar seu dados</h3>
        </div>

        <form class="form" method="POST" action="/students?_method=PUT">

            <div class="register">

                <div class="data">

                    <div class="avatar_url">
                        <p>Avatar URL</p>
                        <input type="url" placeholder="  {{ student.avatar_url }}" name="avatar_url" required>
                    </div>

                    <div id="user">
                        <input type="text" placeholder="  {{ student.name }}" name="name" required>
                    </div>

                    <div id="email">
                        <input type="text" placeholder="  {{ student.email }}" name="email" required>
                    </div>

                    <div class="date">
                        <input 
                            type="text" 
                            placeholder="  {{ student.birth }}" 
                            onfocus="(this.type='date')" 
                            onblur="(this.type='text')" 
                            name="birth" 
                            required
                        />
                    </div>

                    <div class="level">
                        <select class="school" name="graduation" required>
                            <option value="" disabled selected>{{ student.graduation }}</option>
                            <option value="Ensino Médio Completo">Ensino Médio Completo</option>
                            <option value="Ensino Superior Completo">Ensino Superior Completo</option>
                            <option value="Mestrado">Mestrado</option>
                            <option value="Doutorado">Doutorado</option>
                        </select>
                    </div>

                    <div class="hours">
                        <input type="number" placeholder="  {{ student.hours }} Horas Semanais" name="hours" required>
                    </div>

                    <div class="plus">
                        <input type="text" placeholder="  {{ student.plus }}" name="plus" required>
                    </div>

                </div>

                <button class="button" type="submit">Salvar</button>

                <input 
                    type="hidden"
                    name="id"
                    value={{student.id}}
                >

            </div>

        </form>

        <div class="register">
            <form method="POST" action="/students?_method=DELETE">
                <input type="hidden" name="id" value={{student.id}}>
                <button class="button-delete" type="submit">Deletar</button>
            </form>
        </div>

    </div>


    <div class="info">

    </div>


{% endblock %}