<div class="data">

    <div class="avatar_url">
        <img src="{{ student.avatar_url }}" alt="{{ student.name }}">
    </div>

    <div id="user">
        <p>{{ student.name }}</p>
    </div>

    <div class="date">
        <p>{{ student.age }} anos</p>
    </div>

    <div class="level">
        <p>{{ student.graduation }}</p>
    </div>

    <div class="categories">
        <p>Tipo de aula: {{ student.category }}</p>
    </div>

    <div class="plus">
            {# Corrigir Erro de CSS por causa da mudança do Array #}
            <p>{% for plus in student.plus %}{{ plus }}{% endfor %}</p>
    </div>

</div>