<div class="data">

    <div class="avatar_url">
        <img src="{{ student.avatar_url }}" alt="{{ student.name }}">
    </div>

    <div id="user">
        <p>{{ student.name }}</p>
    </div>

    <div class="date">
        <p>{{ student.age }} anos</p>
    </div>

    <div class="email">
        <p>{{ student.email }} anos</p>
    </div>

    <div class="level">
        <p>{{ student.grade }}</p>
    </div>

    <div class="hours">
        <p>{{ student.hours }} Horas Semanais</p>
    </div>

    <div class="plus">
            <p>{% for plus in student.plus %}{{ plus }}{% endfor %}</p>
    </div>

</div>